<div class="container col-md-6 col-md-offset-3">
<h1>欢迎来到 BUPT-map</h1>
<div class="well">这是一个众包型BUPT地图网站，使用微博账号登陆后即可在地图上创建坐标点，并可以看到其他人所创建的地点。</div>

<h4>当前我们只支持微博登陆</h4>

<div><a href="/auth/weibo/" class="btn btn-info">使用微博登陆</a></div>
</div>