// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#allmap {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin:0;
	position: absolute;
}

.navbar {
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 0;
	background-color: rgba(200,200,200,0.7);
}

.popbox {
	position: absolute;
	top: 15%;
	left: 50%;
	width:500px;
	height:200px;
	margin-left: -250px;
	padding-top: 20px;
	display:none;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 10px;
}

#k-search-btn {
	background-color: rgba(91, 192, 222, 0.8);
}

#k-searchbar {
	background-color: rgba(255, 255, 255, 0.8);
}


.weibo-img {
	padding-left: 15px;
}

.active-addgeo {
	background-color:#eee;
}
